.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../images/BlueModernBackground.jpg') no-repeat center center fixed;
  background-size: cover;
}

.form-container-login-register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-login-register {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.form-box {
  display: none;
}

.form-box form {
  display: flex;
  flex-direction: column;
}

.form-box h1 {
  margin-bottom: 30px;
  font-size: 24px;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: none;
  outline: none;
  transition: border-color 0.3s;
}

.input-box input:focus {
  border-color: #007bff;
}

.input-box .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
 
}

.remember-forgot label {
  display: flex;
  align-items: center;
  font-size: 14px;

}

.remember-forgot button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
}

.remember-forgot button:hover {
  text-decoration: underline;
}

.submit-button-login button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}



.register-link {
  text-align: center;
  margin-top: 15px;
}

.register-link button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
}

.register-link button:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.form-box:not(.hidden) {
  display: block;
}
